@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

* {
  font-family: "Nanum Gothic", sans-serif;
}

html {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

body {
    text-align: center;
}