<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insta Hashtag Cloud</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <!-- TODO: Increase h1 font weight -->
    <h1>Insta Hashtag Cloud</h1>
    <main>
      <form action="" method="get">
        <input placeholder="Enter a hashtag" required name="word" />
        <button>Search</button>
      </form>
      <!-- Maybe allow users to download the cloud img? -->
      <!-- TODO: input text should be updated to black -->
      <!-- TODO: background should be no-repeat and responsive-->
      <div>Here goes the cloud</div>
    </main>
    <footer>Made with ❤ by Nayeon and Emily</footer>
  </body>
</html>
